* {
    box-sizing: border-box;
}

.image-max {
    max-width: 200px;
}

li {
    list-style-type: none;
}

.card {
    min-height: 400px;
}

.laptop-info-container {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
